*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-color: rgb(255, 255, 214);
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    padding: 40px 0;
}

button.normal{
    font-size: 15px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

/* nav start */
nav{
    width: 100%;
    padding-bottom: 5px;
    background-color: rgba(69, 2, 2, 0.716);
    box-shadow: 2px 2px 4px rgb(39, 37, 37);
    position: sticky;
    top:0;
    left:0;
    z-index: 999;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 40px;
}

nav li a {
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(69, 2, 2, 0.716);
    background-color: rgb(255, 255, 214);
    border: 2px solid black;
    margin: 2px;
    height: 35px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s ease;
}

nav li a:hover, nav li a.active{
    color: rgba(165, 42, 42, 0.767);

}

nav li i{
    height: 30px;
    padding: 0 20px;
    padding-top: 8px;
}

nav input{
    height: 34px;
    width: 40%;
    border: 2px solid black;
    border-radius: 10px;
    margin-right: auto;
    background-color: rgb(255, 255, 214);
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: rgba(69, 2, 2, 0.716);
}

nav li:first-child{
    margin-right: auto;
}

nav li:-moz-placeholder{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(204, 184, 83, 0.389);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid black;
    border-radius: 15px 0 0 15px;
}

.sidebar a{
    width: 100px;
}

input::placeholder {
    display: flex;
    text-align: center;
    background-color: rgb(255, 255, 214);
    color:rgba(69, 2, 2, 0.716);
    font-weight: bold;
    font-size: 15px;
}

.fa-solid {
    font-weight: 1000;
    position: relative;
    font-size: 25px;
    color: rgb(241, 204, 204);
}

.fa-solid:hover {
    cursor: pointer;
}

.fa-cart-shopping
{
    display: none;
}
/* nav end */
.cart-container {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    width: 300px;
}

.cart-items {
    list-style-type: none;
    padding: 0;
}

.cart-items li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.cart-items img {
    margin-right: 10px;
}



/* home page start */
#container{
    height:90vh;
    width: 100%;  
    display: flex;
    align-items: center;
    justify-content: start;
}

#intro{
    font-size: 30px;
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#intro_img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#int_img{
    background-image: url('static/images/coffee_home.png');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
}

#container h4, p{
    padding-bottom: 10px;
    font-size: 20px;
}

#container h1{
    padding: 10px 0;
    color: rgba(155, 119, 1, 0.932);
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#container button{
    background-color:  rgba(69, 2, 2, 0.318);
    padding: 10px 15px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}
/* home page end */

/* feature start */

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .feat-box .img-feat{
    width: 100%;
    margin-bottom: 10px;
}

#feature .feat-box{
    font-size: 20px;
    width: 150px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);
    border: 1px solid #d6d188;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .feat-box:hover{
    box-shadow: 10px 10px 54px rgba(197, 149, 99, 0.503);
}

#feature .feat-box h6{
    display: inline-block;
    padding: 9px 8px 10px 8px;
    line-height: 1;
    border-radius: 4px;
    color: rgb(91, 15, 162);
    background-color: rgba(233, 150, 122, 0.705);
}

#feature .feat-box:nth-child(2) h6{
    color: rgb(121, 45, 10);
    background-color: rgb(218, 162, 231);
}

#feature .feat-box:nth-child(3) h6{
    color: rgb(2, 56, 59);
    background-color: #cdd4f8;
}

#feature .feat-box:nth-child(4) h6{
    color: rgba(126, 33, 207, 0.878);
    background-color: #74a359b0;
}

#feature .feat-box:nth-child(5) h6{
    color: #c5ea9e;
    background-color: rgba(197, 64, 90, 0.919);
}

#feature .feat-box:nth-child(6) h6{
    color: rgb(111, 20, 100);
    background-color: rgba(54, 158, 214, 0.475);
}

/* feature end */

/* spotlight start */

#product1{
    text-align: center;
}

#product1 h2{
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 15px;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    padding-top: 50px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 18%;
    min-width: 250px;
    background-color: rgb(250, 248, 224);
    padding: 12px 8px;
    border: 2px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.4);
}

#product1 .pro img{
    width: 75%;
    border-radius: 20px;
}

#product1 .pro .spotlight{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .spotlight h5{
    padding-top: 6px;
    font-size: 17px;
}

#product1 .pro .spotlight i{
    font-size: 14px;
    color: rgb(235, 188, 67);
}

#product1 .pro .spotlight h4{
    padding-top: 7px;
    font-size: 16px;
    font-weight: 700;
    color: #056e67;
}

#product1 .pro .bag{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #c7edcd;
    color: #055d57;
    border: 1px solid #7fab86;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#product1 .pro .bag:hover{
    background-color: #055d57;
    color: #bde9c3;
}

#product1 .pro .spotlight .veg{
    font-size: 8px;
    color: #14837c;
    padding: 3px;
    border: 3px solid #14837c;
}


/* spotlight end */


/* banner start */

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(static/images/banner-back.jpg);
    background-position: center;
}

#banner h2{
    color:#fff;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    padding: 15px 0;
    text-shadow: 20px 10px 20px #a76287;
}

#banner h2 span{
    color: rgb(236, 227, 94);
}

#banner button:hover{
    background: #1daba2;
    color: #fff;
}

/* banner end */


