body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    flex: 1;
    background-color: rgb(62, 13, 13);
    min-height: 5vh;
    max-width: 100%;
    border: 5px solid black;
    border-radius: 10px;
    color: white;
    display: grid;
    align-items: center;
}

.Home{
   position: absolute;
   top: 40px;
   right: 17em;
}

.About{
    position: absolute;
    top: 40px;
    right: 10em;
 }

 .Service{
    position: absolute;
    top: 40px;
    right: 3em;
 }

.logo {
    height: 70px;
    width: 70px;
    background-color: white;
    position: absolute;
    left: 30px;
    color: black;
    border: 2px solid black;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
}

button {
    color:rgb(255, 255, 255);
    background-color: rgb(85, 56, 56);
    padding:10px;
    border: 2px solid black;
    border-radius: 50%;
    min-height: 70px;
    width: 70px;
}

.Search {
    flex: 1 1 100rem;
    color:rgb(255, 255, 255);
    background-color: rgb(85, 56, 56);
    border: 2px solid black;
    height:40px;
    border-radius: 20px;
    width: 350px; 
    margin: 50px;
    margin-left: 120px;
}

input::placeholder {
    color: rgb(255, 255, 255);
    text-align: center;
}
