*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-color: rgb(255, 255, 214);
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    width: 100%;
    padding-bottom: 5px;
    background-color: rgba(69, 2, 2, 0.716);
    box-shadow: 2px 2px 4px rgb(39, 37, 37);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 40px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav li i{
    height: 30px;
    padding: 0 20px;
    padding-top: 8px;
}

nav input{
    height: 30px;
    width: 40%;
    border-radius: 10px;
    margin-right: auto;
}

nav li:first-child{
    margin-right: auto;
}

nav li:-moz-placeholder{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(204, 184, 83, 0.389);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}