<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="details.css" />
  </head>
  <body>
    <nav class="nav" id="nav">
      <ul>
        <li><a href="../../index.html">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="../cart/cart.html">Cart</a></li>
      </ul>
    </nav>


    <div class = "container">

      <form class="details-form">
          <h2 class="title">Address Details</h2>
          <h3>Deliver to:</h3>

          <div class="address-sec">
          <div class = "first-half">
            <div class = "input-box">
                <span>Full Name: </span>
                <input type = "text" placeholder = "Enter your first & last name here">
            </div>
  
            <div class = "input-box">
              <span>Email: </span>
              <input type = "email" placeholder = "example@mygmail.com">
            </div>
  
            <div class = "input-box">
              <span>Mobile number: </span>
              <input type = "text" maxlength = "10" aria-requried = "true" placeholder = "Enter the state">
            </div>
  
            <div class = "input-box">
              <span>Address: </span>
              <input type = "text" placeholder = "Road name, Area, Colony">
            </div>
          </div>
            



            <div class = "second-half">
              <div class = "house-pin">
                <div class = "input-box">
                  <span>Flat, House no., Floor no.: </span>
                  <input type = "text" maxlength="20" placeholder = "Enter here">
                </div>
                <div class = "input-box">
                  <span>Pincode: </span>
                  <input type = "number" maxlength="6" placeholder = "6 digit pincode">
                </div>
              </div>
                
              <div class = "place">
                <div class = "input-box">
                  <span>State: </span>
                  <input type = "text" placeholder = "Enter the state">
                </div>
                <div class = "input-box">
                  <span>City: </span>
                  <input type = "text" placeholder = "Enter the city">
                </div>
              </div>
              <div style="justify-content: center; display:flex"><button type="submit" class ="button">Submit & Continue</button></div>
            </div>
          </div>  
      </form>
    </div>
  </body>
</html>
