<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="details.css" />
  </head>
  <body>
    <nav class="nav" id="nav">
      <ul>
        <li><a href="../../index.html">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="../cart/cart.html">Cart</a></li>
      </ul>
    </nav>

    <form class="details-form">
      <div class="address-sec">
        <h2 class="title">Address Details</h2>
        <h3>Deliver to:</h3>
        <div class = "input-box">
          <span>First Name: </span>
        </div>
      </div>
    </form>

    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil alias
    tenetur a cupiditate velit officia ut similique voluptate, excepturi tempora
    sit quos consectetur eveniet illum, voluptatum, doloribus in aliquid neque.
  </body>
</html>
